<!-- Navigation -->
<nav>
    <div class="nav-center">
        <div class="nav-header">
            <a href="#about"><img src="https://i.postimg.cc/qqdmGMm8/makos.png" class="logo" alt="logo" /></a>
            <button [ngClass]="showLink() ? 'show-links': ''" (click)="click()" class="nav-toggle">
                <i class="fas fa-bars"></i>
            </button>
    </div>
        <ul class="links">
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#shopping">Coffee</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
        <ul class="social-icons">
            <li>
                <a href="#">
                    <i class="fab fa-behance"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-sketch"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>