
<!-- Navigation -->
<header class="navbar">
    <div class="nav-center">
        <a href="#about">
            <img src="https://i.postimg.cc/qqdmGMm8/makos.png" class="logo" alt="logo" />
        </a>   
        <ul class="links">
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#shopping">Coffee</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </div>
</header>