<!----------About---------->
<section id="about">
    <div class="container">
        <h1><i> Best Coffee Shop In The Town</i></h1>
        <p>
          <i>We are coffee hunters. We seek out the best quality beans for our customers. Our uniqueness gives us a hedge over our competitors.
          </i>
        </p>
        <p>
          <i>We promote MAKOS Coffee which is a pure coffee made with one hundred percent ARABICA beans. Our beans are grown on high mountains slope above 4000 feet of altitude and cool climate (14-24º C) in the region between tropic of Cancer and Capricorn.
          </i>
        </p>
        <p>
          <i>Have you ever wanted to drink a cup of coffee that has a wonderful aroma and a strong flagrance, as well as rich in flavor? If yes, MAKOS Coffee is your solution.
          </i>
        </p>
    <div>
      <iframe
        id="video"
        width="800"
        height="315"
        src="https://www.youtube.com/embed/x9qleM9_jmc"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
<br />
<br />
<br />
<br />

<!----------Shopping---------->
<section id="shopping">
  <div class="container">
    <div class="box">
      <a href="#"
        ><img
          src="https://i.postimg.cc/WpYfBr8z/Panama.jpg"
          alt="Papua New Guinea Coffee"
          width="200"
        />
        <h3>Papua New Guinea Coffee</h3>
      </a>
      <p>
        Smooth,creamy in texture and flavor. 
      </p>
      <p>
        Flavor: Spicy with sweet notes of caramel
      </p>
    </div>
    <div class="box">
      <a href="#"
        ><img
          src="https://i.postimg.cc/HxZBCDQR/Columbian.jpg"
          alt="Mexico Coffee"
          width="200"
        />
        <h3>Mexico Coffee</h3>
      </a>
      <p>
        The aroma is warm, spicy, and sweet. 
      </p>
      <p>
        Flavor: Sweet Nutty
      </p>
    </div>
    <div class="box">
      <a href="#"
        ><img
          src="https://i.postimg.cc/wBsmBK8n/Brazilian.jpg"
          alt="Honduras Coffee"
          width="200"
        />
        <h3>Honduras Coffee</h3>
      </a>
      <p>
        Bright, sweet, balanced and rich in flavor.
      </p>
      <p>
        Flavor: Burnt toffee, Meyer lemon
      </p>
    </div>
  </div>
</section>
<br />
<br />
<br />
<br />

<!----------Testimonials---------->
<section>
  <div class="container" id="boxes">
    <div id="feature">
      <h2><i>Testimonials</i></h2>
    </div>
    <div class="container container-flex testimonials">
        <div class="test1">
            <p>
                <q><i>
              We stumbled across this place and so glad we did. Really buzzing vibe with quirky interior. More importantly the coffee is superb so much so we brought some home. Varied menu and staff are great!<b>Alexander J.</b></i
            ></q
          >
        </p>
      </div>
      <div class="test2">
        <p>
          <q
            ><i>
              This is my favourite coffee shop when I'm in the town. Freshly roasted coffee they can make with their own home made coconut milk if you want. Lovely staff, very friendly and helpful. You can get non coffee drinks too.<b>Mary L.</b></i
            ></q
          >
        </p>
      </div>
      <div class="test3">
        <p>
          <q
            ><i>
              Really good coffee in the city center. Also, reasonably priced. If you need these two cups of coffee in the morning to open your eyes, go there! A simple but very nice place with lovely staff! <b>Peter S.</b></i
            ></q
          >
        </p>
      </div>
    </div>
  </div>
</section>
<br />
<br />
<br />

<!----------Contact---------->
<section id="contact">
  <div class="container">
    <div class="contact-title">
      <h2>Let's get in touch...</h2>
      <p>
        How do you take your coffee?
      </p>
    </div>
    <div class="contact-links">
      <a href="https://facebook.com" target="_blank"> <i class="fab fa-facebook-square"></i></a>
      <a href="https://twitter.com" target="_blank"> <i class="fab fa-twitter-square"></i></a>
      <a href="mailto:example@example.com"><i class="fas fa-envelope-square"></i></a>
    </div>
  </div>
</section>
